@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-size: 100%;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 40px 200px;
}

.cabecalho-marca {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.cabecalho-marca-titulo {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 50px;
    color: #202020;
}

.cabecalho-menu {
    height: 50px;
    width: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cabecalho-menu-items {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    color: #000000;
}

.cabecalho-menu-items:hover {
    color: #797979;
}

.cabecalho-login {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #31165B;
    border: none;
    border-radius: 30px;
    width: 140px;
    height: 60px;
}

.cabecalho-login:hover {
    background-color: #8c6bc2;
}

.principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 250px;
    margin: 100px 200px;
}

.principal-conteudo {
    display: flex;
    flex-direction: column;
    width: 750px;
    height: 550px;
}

.principal-conteudo-titulo {
    font-family: 'Montserrat', sans-serif;
    font-size: 120px;
    font-style: normal;
    font-weight: 600;
    color: #000000;
    width: 790px;
}

.principal-conteudo-paragrafo {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 50;
    color: rgba(0, 0, 0, 0.6);
    padding-bottom: 70px;
    padding-right: 100px;
    margin-top: 20px;
}

.principal-conteudo-butao {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #31165B;
    border: none;
    border-radius: 30px;
    width: 200px;
    height: 80px;
}

.principal-conteudo-butao:hover {
    background-color: #8c6bc2;
}